@{
    ViewData["Title"] = "Acesso Negado";
}
<div class="container mt-5 text-center">
    <h1 class="text-danger">Acesso Negado</h1>
    <p class="lead">Você não tem permissão para acessar esta página.</p>
    <a href="/Home/Index" class="btn btn-primary mt-3">Voltar para a página inicial</a>
</div>
